.main-container {
    border: 2px solid dodgerblue;
    padding: 50px;
    background-color: deepskyblue;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items:baseline;
    width: 500px;
    /* align-items: center; */
    justify-content: center;
}

p {
    color: white;
}

.completed {
    text-decoration: line-through;
    color: red;
}